<html>
	<head>

	<!-- stryle -->
	<link href="styles.css" type="text/css" rel="Stylesheet" rev="Stylesheet">


</head>


<body class="body">

<!-- begin header -->
<div id="Header">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
	<td width="100%" colspan="3"><img src="vide.gif" width="1" height="5" border="0" alt=""></td>
</tr>
<tr>
	<td width="1%">&nbsp;</td>
	<td width="98%" align="right">Logged as Arnaud Prost - <a href="http://www.cnn.com">logout</a></td>
	<td width="1%" align="right">&nbsp;</td>
</tr>
<tr>
	<td width="1%">&nbsp;</td>
	<td width="98%" align="left"><h1>Agile !</h1></td>
	<td width="1%">&nbsp;</td>
</tr>
<tr>
	<td width="100%" colspan="3"><img src="vide.gif" width="1" height="10" border="0" alt=""></td>
</tr>
</table>
</div>
<!-- end header -->

<!-- begin tabs -->
<div id="Tabs">
<table cellpadding="0" cellspacing="0" border="0" bgcolor="#003366" width="100%">
<tr>
	<td width="1%" class="empty">&nbsp;</td>
	<td width="80" class="current">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tab 1&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td width="80"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tab 2&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
	<td width="80"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tab 3&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
	<td class="empty">&nbsp;</td>
</tr>
</table>
</div>
<!-- end tabs -->

<!-- begin body -->

<div id="Body">
<table cellpadding="0" cellspacing="0" border="0" bgcolor="#E5E5E5" width="100%">


<tr>
	<td colspan="5" width="100%" height="10">&nbsp;</td>
</tr>
<tr>
	<td width="1%" height="40">&nbsp;</td>
	<td width="1%" bgcolor="#FFFFFF" class="leftAndTop" height="40" >&nbsp;</td>
	<td width="67%" bgcolor="#FFFFFF" class="top" height="40">Liste > Detail > Report</td>
	<td width="1%" align="right" bgcolor="#FFFFFF" class="rightAndTop" height="40">&nbsp;</td>
	<td width="30%" rowspan="5" align="center" valign="top" bgcolor="#E5E5E5">
	
		 <div id="Summary">
			<table cellpadding="0" cellspacing="0" border="0" align="center" valign="top" width="90%">
				<tr>
					<td>&nbsp;</td>
					<td>summary</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		 </div>

	
	</td>
</tr>
<tr>
	<td width="1%" >&nbsp;</td>
	<td width="1%" bgcolor="#FFFFFF" class="left" >&nbsp;</td>
	<td width="66%" align="left" valign="top" bgcolor="#FFFFFF">body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body</p></td>
	<td width="1%" bgcolor="#FFFFFF" class="right">&nbsp;</td>
	<td width="30%" bgcolor="#E5E5E5">&nbsp;</td>
</tr>
<tr>
	<td width="1%" height="40">&nbsp;</td>
	<td width="1%" bgcolor="#FFFFFF" class="leftAndBottom" height="40" >&nbsp;</td>
	<td width="67%" bgcolor="#FFFFFF" class="bottom" height="40">&nbsp;</td>
	<td width="1%" align="right" bgcolor="#FFFFFF" class="rightAndBottom" height="40">&nbsp;</td>
	<td width="30%" bgcolor="#E5E5E5">&nbsp;</td>
</tr>
<tr>
	<td width="100%" colspan="5">&nbsp;</td>
</tr>


<!--
<tr>
	<td colspan="5" width="100%" height="10">&nbsp;</td>
</tr>
<tr>
	<td width="1%" height="40">&nbsp;</td>
	<td width="1%" bgcolor="#FFFFFF" class="leftAndTop" height="40" >&nbsp;</td>
	<td width="96%" bgcolor="#FFFFFF" class="top" height="40">Liste > Detail > Report</td>
	<td width="1%" align="right" bgcolor="#FFFFFF" class="rightAndTop" height="40">&nbsp;</td>
	<td width="1%" height="40">&nbsp;</td>
</tr>
<tr>
	<td width="1%" >&nbsp;</td>
	<td width="1%" bgcolor="#FFFFFF" class="left" >&nbsp;</td>
	<td width="96%" align="left" valign="top" bgcolor="#FFFFFF">body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body body</p></td>
	<td width="1%" bgcolor="#FFFFFF" class="right">&nbsp;</td>
	<td width="1%" >&nbsp;</td>
</tr>
<tr>
	<td width="1%" height="40">&nbsp;</td>
	<td width="1%" bgcolor="#FFFFFF" class="leftAndBottom" height="40" >&nbsp;</td>
	<td width="96%" bgcolor="#FFFFFF" class="bottom" height="40">&nbsp;</td>
	<td width="1%" align="right" bgcolor="#FFFFFF" class="rightAndBottom" height="40">&nbsp;</td>
	<td width="1%" height="40">&nbsp;</td>
</tr>
<tr>
	<td width="100%" colspan="5">&nbsp;</td>
</tr>
-->


</table>
</div>
<!-- end body -->

</body>

</html>