<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Mapping core files -->

		<!-- TODO : trouver quelque chose de plus propre.... -->

		<mapping resource="net/sf/pmr/core/data/mapping/user/User.hbm.xml" />
		<mapping resource="net/sf/pmr/core/data/mapping/user/company/Company.hbm.xml" />
		<mapping resource="net/sf/pmr/core/data/mapping/reference/Country.hbm.xml" />
		<mapping resource="net/sf/pmr/core/data/mapping/basicProject/Project.hbm.xml" />

		<!-- Mapping files -->
		<mapping resource="net/sf/pmr/messageBoards/data/mapping/Message.hbm.xml" />
		<mapping resource="net/sf/pmr/messageBoards/data/mapping/Board.hbm.xml" />
	</session-factory>
</hibernate-configuration>
