#########################################
#Begin : Used by display tag
#########################################

th.sorted {
    background-repeat:no-repeat;
}
th.sorted a, th.sortable a {
	text-decoration:none;
	background-position: right;
	background-repeat:no-repeat;
	display: block;
	color: #ffffff;
}
th.sortable a {
	background-image: url("images/icon_sortleft.gif");
    color: #ffffff;
}
th.order1 a {
	background-image: url("images/icon_sortdown.gif");
	color: #ffffff;
}
th.order2 a {
	background-image: url("images/icon_sortup.gif");
	color: #ffffff;
}
th a, th a:visited, th a:hover {
	color: #ffffff;
}
table.default thead tr{
 	BACKGROUND-COLOR: #000099;
  	COLOR:#FFFFFF;
  	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-TRANSFORM: none;
	LINE-HEIGHT: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-VARIANT: normal;
	height: 20px;
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: middle;
}
table.default tr.even {
  	BACKGROUND-COLOR: #E0E0E0;
  	COLOR:#333333;
  	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	TEXT-TRANSFORM: none;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
table.default tr.odd {
  	BACKGROUND-COLOR: #F5F5F5;
  	COLOR:#333333;
  	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	TEXT-TRANSFORM: none;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-VARIANT: normal;
	vertical-align: middle;

}
div.exportlinks {
	border: 1px dotted #999;
	padding: 0 4px 4px 4px;
	margin: 0px 0 10px 0;
	text-align:left;
	border-top: none;
	width: 100%;
}

span.export {
	padding: 0 4px 1px 20px;
	display:inline; display:inline-block;
	CURSOR: hand;
	color:#CC0000;
	background-position: left;
	background-repeat:no-repeat;
}

span.excel {
	background-image: url(images/ico_file_excel.png);
}
span.csv {
	background-image: url(images/ico_file_csv.png);
}
span.xml {
	background-image: url(images/ico_file_xml.png);
}

span.pagebanner {
	font-family: Arial,sans-serif;
	border: 1px dotted #999;
	padding: 1px 1px 1px 1px;
	margin-top: 2px;
	display:block;
	border-bottom: none;
	text-align:right;
	width:99%;
	font-size: 12px;
}

span.pagelinks {
	font-family: Arial,sans-serif;
	border: 1px dotted #999;
	padding: 1px 1px 1px 1px;
	display:block;
	border-top: none;
	margin-bottom: +1px;
	text-align:right;
	width:99%;
	font-size: 12px;
}

#########################################
#End : Used by display tag
#########################################