<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Mapping core files -->

		<!-- TODO : trouver quelque chose de plus propre.... -->
		
		<mapping resource="net/sf/pmr/core/data/mapping/user/User.hbm.xml" /> 
		<mapping resource="net/sf/pmr/core/data/mapping/user/company/Company.hbm.xml" />
		<mapping resource="net/sf/pmr/core/data/mapping/reference/Country.hbm.xml" />
   		<mapping resource="net/sf/pmr/core/data/mapping/project/Project.hbm.xml" />
   		 

		<!-- Mapping files -->
   	    <mapping resource="net/sf/pmr/agilePlanning/data/mapping/release/Release.hbm.xml" />
       	<mapping resource="net/sf/pmr/agilePlanning/data/mapping/story/BusinessValue.hbm.xml" />
       	<mapping resource="net/sf/pmr/agilePlanning/data/mapping/story/RiskLevel.hbm.xml" />
		<mapping resource="net/sf/pmr/agilePlanning/data/mapping/story/Story.hbm.xml" />
		<mapping resource="net/sf/pmr/agilePlanning/data/mapping/story/task/Task.hbm.xml" />
		<mapping resource="net/sf/pmr/agilePlanning/data/mapping/story/task/charge/Charge.hbm.xml" />
    	<mapping resource="net/sf/pmr/agilePlanning/data/mapping/iteration/Iteration.hbm.xml" />		 	
    	 
	</session-factory>
</hibernate-configuration>
