
body {
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
	background-color: #E5E5E5
}

#Header a:link {
	color: #FFFFFF;
	text-decoration: underline;
}

#Header a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}

#Header a:hover {
	background-color: #1D64AD;
}

#Header table {
	background-color: #003366;
}

#Header h1 {
	font-size: 150%;
	color: #FFA500;
}

#Header td {
	font-size: 90%;
	color: #FFFFFF;
	vertical-align: top;
}

#Tabs a:link {
	color: #FFFFFF;
	text-decoration: none;
}

#Tabs a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#Tabs a:hover {
	color: #FFFFFF;
	background-color: #1D64AD;
}

#Tabs table {
	vertical-align: middle;
	border-left: 1px solid #003366;	
	border-right: 1px solid #003366;
	border-top: 1px solid #003366;
}

#Tabs h1 {
	font-size: 150%;
	color: #FFA500;
}

#Tabs td {
	color: #FFFFFF;
	vertical-align: middle;
	background-color: #575778;
   border: 1px solid #003366;
   border-bottom: 0px;
   height: 25;
   text-align: center;
}

#Tabs td.current {
	color: #52C652;
	vertical-align: middle;
	background-color: #E5E5E5;
	font-weight: bold;
}

#Tabs td.empty {
	background-color: #003366;
}

#Summary table {
	vertical-align: middle;
	border-left: 1px solid #bbbbbb;	
	border-right: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
}

#Summary td {
	background-color: #F3F3AD;
}

#Content td.top {
	border-top: 1px solid #bbbbbb;
}

#Content td.right {
	border-right: 1px solid #bbbbbb;
}

#Content td.rightAndTop {
	border-right: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;
}

#Content td.rightAndBottom {
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
}

#Content td.left {
	border-left: 1px solid #bbbbbb;
}

#Content td.bottom {
	border-bottom: 1px solid #bbbbbb;
}

#Content td.leftAndTop {
	border-left: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;
}

#Content td.leftAndBottom {
	border-left: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
}

a:link, a:visited, a:hover {
	color: #27458d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

h1{
 font-family: Verdana,Arial,sans-serif;
 font-size: 120%;
 color: #334d55;
}

h2{
 font-size: 114%;
 color: #006699;
}

h3{
 font-size: 100%;
 color: #334d55;
}

h4{
 font-size: 100%;
 font-weight: normal;
 color: #333333;
}

h5{
 font-size: 100%;
 color: #334d55;
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
}

.headerLink {
	FONT-SIZE: 9px; COLOR: #FFFFFF; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}

.grayBackground {
	BACKGROUND-COLOR: #d3d4d9
}
.grayBackground2 {
	BACKGROUND-COLOR: #9697a0
}
.grayBackground3 {
	BACKGROUND-COLOR: #e8e7ec
}
.grayBackground4 {
	BACKGROUND-COLOR: #aaabb4
}
.grayBackground5 {
	BACKGROUND-COLOR: #65676f
}
.grayBackground6 {
	BACKGROUND-COLOR: #cecfd3
}
.whiteBackground {
	BACKGROUND-COLOR: #f4f3f7
}
.whiteBackground2 {
	BACKGROUND-COLOR: #ffffff
}
.greenBackground {
	BACKGROUND-COLOR: #e1e8e8
}
.textForSelectedTab {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #383a3e; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.textForNotSelectedTab {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #65676f; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.smallTextBlack {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.textForLeftTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #27458d; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.textForLeftText {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.textForLeftTextInRed {
	FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}

.configFond04 {
	BACKGROUND-COLOR: #aaabb4
}
.configFond08 {
	BACKGROUND-COLOR: #93accb
}
.configFond06 {
	BACKGROUND-COLOR: #ffffff
}
.configFond14 {
	BACKGROUND-COLOR: #e8eef4
}
.configFond16 {
	BACKGROUND-COLOR: #d4d9df
}
.configFond18 {
	BACKGROUND-COLOR: #f2f2e9
}
.configLien11 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #27458d; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.configTexte09 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.textForBodyText {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.textForBodyRedText {
	FONT-SIZE: 11px; COLOR: #FF0000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.textForBodyErrorMessage {
	FONT-SIZE: 11px; COLOR: #FF0000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.configTexte11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #27458d; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.configTexte16 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #585f6d; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.configTexteForWorkspaceTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.textForBodyTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #585f6d;; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}

.searchfield {/* searchfield */
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;	
	TEXT-TRANSFORM: none;
	BORDER-LEFT: #cccccc 1px solid;
	COLOR: #333333;
	LINE-HEIGHT: normal;
	BORDER-BOTTOM: #cccccc 1px solid;
	BACKGROUND-COLOR: #ffffff;
	TEXT-DECORATION: none;
	height : 19;
}

.field {/* field */
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	TEXT-TRANSFORM: none;
	BORDER-LEFT: #cccccc 1px solid;
	COLOR: #333333;
	LINE-HEIGHT: normal;
	BORDER-BOTTOM: #cccccc 1px solid;
	BACKGROUND-COLOR: #ffffff;
	TEXT-DECORATION: none;
	height : 19;
}

.textarea {/* textarea */
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	TEXT-TRANSFORM: none;
	BORDER-LEFT: #cccccc 1px solid;
	COLOR: #333333;
	LINE-HEIGHT: normal;
	BORDER-BOTTOM: #cccccc 1px solid;
	BACKGROUND-COLOR: #ffffff;
	TEXT-DECORATION: none;
}

th.columnheader {
   background-color: #000099;
   color: #FFFFFF;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   font-variant: normal;
   font-weight: bold;
   height: 20px;
   line-height: normal;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-top: 5px;
   text-align: left;
   text-decoration: none;
   text-transform: none;
   vertical-align: middle
}

th.columnheader a:link {
	color: #FFFFFF;
	text-decoration: none;
}

th.columnheader a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

th.columnheader a:hover {
	background-color: #1D64AD;
}

td.tablepager
{
   background-color: #ffffff;
   font-size: 12px;
   text-align: right
}

tr.even {
   background-color: #E0E0E0;
   color: #333333;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   text-transform: none;
   margin-bottom: 5px;
   margin-top: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   vertical-align: middle
}

tr.odd {
   background-color: #F5F5F5;
   color: #333333;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-variant: normal;
   font-weight: normal;
   text-transform: none;
   margin-bottom: 5px;
   margin-top: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   vertical-align: middle
}
